@model Mfg.EI.WeiXin.ViewModel.RefStudent


<div class="main bgblue">
    <div style="padding-bottom:6.4em">
        <img src="/Content/weixin/clay.png" class="vm clay" />
        <div class="tc colW p30">
            <h1 class="F24 mb50">
                @if (string.IsNullOrEmpty(Model.StuName) && string.IsNullOrEmpty(Model.StuAccount) && string.IsNullOrEmpty(Model.ParentName) && string.IsNullOrEmpty(Model.ParentPhone))
                {
                    @Html.Raw("完善以下信息，第一时间获取孩子的学习情况!");
                }
        </h1>
        <ul class="pb30 bsH">
            <li class="F24 mb30">孩子姓名：<input type="text" id="StuName" class="addinfo_input" value="@Model.StuName" /> </li>
            <li class="F24 mb30">孩子账号：<input type="text" id="StuAccount" class="addinfo_input" value="@Model.StuAccount" /></li>
        </ul>
        <ul class="pt30 pb50">
            <li class="F24 mb30 mt30">家长姓名：<input type="text" id="ParentName" class="addinfo_input" value="@Model.ParentName" /></li>
            <li class="F24 mb30">家长电话：<input type="text" id="ParentPhone" class="addinfo_input" value="@Model.ParentPhone" /></li>
        </ul>
    </div>
</div>

    <div class="tc pt50 pb50  abs_b bginfo"><input type="submit" value="提交资料" class="btn2" onclick="submitData()" /></div>
</div>
<script type="text/javascript">
    function submitData()
    {
        var StuName= $.trim($('#StuName').val());
        var StuAccount= $.trim($('#StuAccount').val());
        var ParentName= $.trim($('#ParentName').val());
        var ParentPhone = $.trim($('#ParentPhone').val());
        var isMobile = /^(?:13\d|17\d|15\d|18\d)\d{5}(\d{3}|\*{3})$/;
        if (StuName == '')
        {
            alert('学生姓名未填写');
            return false;
        }
        if (StuAccount == '') {
            alert('学生帐号未填写');
            return false;
        }
        if (ParentName == '')
        {
            alert('家长姓名未填写');
            return false;
        }
        if (ParentPhone == '')
        {
            alert('家长电话未填写');
            return false;
        }
        if (!isMobile.test(ParentPhone))
        {
            alert('请输入正确手机号');
            return false;
        }
        $.ajax({
            type: "post",
            url: "/Contact/SubmitParent",
            data: { StuName: StuName, StuAccount: StuAccount, ParentName: ParentName,ParentPhone:ParentPhone,WeiXin:"@Model.WeiXin"},
            beforeSend: function (XMLHttpRequest) {
            },
            success: function (data, textStatus) {
                if (data.result)
                { alert("绑定成功"); window.location.href = "/Home/Menu.html"; }
                else alert("绑定失败,请检查注册信息");
            },
            error: function () {
                alert("绑定失败,请检查注册信息");
            }
        });
    }
</script>