<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta content="yes" name="apple-touch-fullscreen">
    <link href="@Mfg.EI.WeiXin.WeiXinConfig.CssUrl/Content/mweb.css" rel="stylesheet" />
    <link href="@Mfg.EI.WeiXin.WeiXinConfig.CssUrl/Content/weixin.css?v=1.0" rel="stylesheet" />
    <link href="@Mfg.EI.WeiXin.WeiXinConfig.CssUrl/Content/quemain.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
</body>
</html>
<script type="text/javascript">
    window.onload = function () {
        var winH = parseFloat(document.body.clientWidth) - 60;
        var scale = winH / 650;
        var tb = document.getElementsByTagName('table');
        //if (zoom) {
        for (var i = 0; i < tb.length ; i++) {
            if (tb[i].offsetWidth > winH) {
                tb[i].style.zoom = scale;
            }
        }
        //}

    }
</script>
<script type="text/javascript">
    $(function () {
        function onBridgeReady() {
            WeixinJSBridge.call('hideOptionMenu');
        }

        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        } else {
            onBridgeReady();
        }
    });
</script>