@model Mfg.EI.ViewModel.StudentExamItemModel
@{
    ViewBag.Title = "考试详情";
    Layout = "~/Views/Shared/_LayoutWeinXinInfo.cshtml";
}
<div >
    <header>
        <div class="bgskin header">
            <a class=" r blH pl30 " href="/Home/Menu"><i class="wtab ico"></i></a>
            <div class="brH  dib F24 pr40 rel" onclick="show()">
                <span class="selectspan">
                    @switch (Model.SubjectID)
                    {

                        case 1:
                            @:语文
                            break;
                        case 2:
                        @:数学
                            break;
                        case 3:
                        @:英语
                            break;
                        case 4:
                        @:物理
                            break;
                        case 5:
                        @:化学
                            break;
                        case 6:
                        @:地理
                            break;
                        case 7:

                        @:历史
                            break;
                        case 8:
                        @:政治
                            break;
                        case 9:
                        @:生物
                            break;

                    }
                </span>
            </div>
            <div class="  dib pl30 F24 rel">
                @Model.ExamName
            </div>
        </div>
    </header>
    <div class="borH bgW">
        <div class="p30  lh50 F24">
            <p class="bbH ">
                @Html.Raw(Model.ItemName)
            </p>
            <div class="bbH">
                @switch (Model.StuState)
                {
                    case 1:
                        <div class="mt30">
                            答案：<span class="col_wrong">
                                   @if (Model.ItemType != Mfg.EI.ViewModel.ItemState.Choice)
                                   {
                                       if (!string.IsNullOrEmpty(Model.Answer))
                                       {
                                           if (Model.IsTextAnswer == 0)
                                           {
                                               <img src="@Model.Answer" />
                                           }
                                           else
                                           {
                                               @Model.Answer
                                           }
                                       }
                                       else
                                       {
                                           <text>未作答</text>
                                       }
                                   }
                                   else
                                   {
                                       if (Model.Accuracy == 0)
                                       {
                                           <span class="col_wrong">
                                               @(string.IsNullOrEmpty(Model.Answer) ? "未作答" : @Model.Answer)
                                           </span>
                                       }
                                       if (Model.Accuracy == 1)
                                       {
                                           <span class="col_right">
                                               @(string.IsNullOrEmpty(Model.Answer) ? "未作答" : @Model.Answer)
                                           </span>

                                       }
                                       if (Model.Accuracy > 0 && Model.Accuracy < 1)
                                       {
                                           <span class="colno">
                                               @(string.IsNullOrEmpty(Model.Answer) ? "未作答" : @Model.Answer)
                                           </span>

                                       }
                                   }
                               </span>
                        </div>
                        break;
                    case 2:
                        <div class="mt30">
                            正确答案：<span class="col_right">@Html.Raw(Model.RightAnswer)</span> 你的答案：
                            @if (Model.ItemType != Mfg.EI.ViewModel.ItemState.Choice)
                            {
                                if (!string.IsNullOrEmpty(Model.Answer))
                                {
                                    if (Model.IsTextAnswer == 0)
                                    {
                                        <img src="@Model.Answer" />
                                    }
                                    else
                                    {
                                        @Model.Answer
                                    }
                                }
                                else
                                {
                                    <text>未作答</text>
                                }
                            }
                            else
                            {
                                if (Model.Accuracy == 0)
                                {
                                    <span class="col_wrong">
                                        @(string.IsNullOrEmpty(Model.Answer) ? "未作答" : @Model.Answer)
                                    </span>
                                }
                                if (Model.Accuracy == 1)
                                {
                                    <span class="col_right">
                                        @(string.IsNullOrEmpty(Model.Answer) ? "未作答" : @Model.Answer)
                                    </span>

                                }
                                if (Model.Accuracy > 0 && Model.Accuracy < 1)
                                {
                                    <span class="colno">
                                        @(string.IsNullOrEmpty(Model.Answer) ? "未作答" : @Model.Answer)
                                    </span>

                                }

                            }
                            ，回答
                            @if (Model.Accuracy == 0)
                            {
                                <span class="col_wrong">
                                    错误
                                </span><text>。</text>
                            }
                            @if (Model.Accuracy == 1)
                            {
                                <span class="col_right">
                                    正确
                                </span><text>。</text>

                            }
                            @if (Model.Accuracy > 0 && Model.Accuracy < 1)
                            {
                                <span class="colno">
                                    半对
                                </span><text>。</text>

                            }

                        </div>
                        break;
                }
            </div>
            @Html.Raw(Model.Pager)
        </div>
    </div>
</div>
@{ Html.RenderPartial("MathJaxPartial", new ViewDataDictionary() { new KeyValuePair<string, object>("mathJaxMainDivName", "") });}