@model Mfg.EI.WeiXin.ViewModel.StuProgessModel
@{
    ViewBag.Title = "查看进步";
}

@*<div class="main ">
        您的孩子还没有测评分析
    </div>*@
<div >
    <header>
        <div class="bgskin header">
            <a class=" r blH pl30" href="/Home/Menu"><i class="wtab ico"></i></a>

            <div class="brH  dib F24 pr40 rel" id="choice1">
                <span class="selectspan">
                    @switch (Model.SubjectID)
                    {
                        case 0:
                @:全部科目
                            break;
                        case 1:
                @:语文
                            break;
                        case 2:
                @:数学
                            break;
                        case 3:
                @:英语
                            break;
                        case 4:
                @:物理
                            break;
                        case 5:
                @:化学
                            break;
                        case 6:
                @:地理
                            break;
                        case 7:

                @:历史
                            break;
                        case 8:
                @:政治
                            break;
                        case 9:
                @:生物
                            break;

                    }
                </span><i class="showmore ico ml30 "></i>
                <div class="selectdiv" style="display:none" id="selectdiv">
                    <ul id="subject">

                        @if (Model.BindSubject != null)
                        {
                            foreach (var item in Model.BindSubject)
                            {
                        <li>
                            <a href="Progress.html?subjectID=@item &dateTime=@Model.DateMonth">
                                @switch (item)
                                        {

                                            case 1:
                                        @:语文
                                                break;
                                            case 2:
                                        @:数学
                                                break;
                                            case 3:
                                        @:英语
                                                break;
                                            case 4:
                                        @:物理
                                                break;
                                            case 5:
                                        @:化学
                                                break;
                                            @*case 6:
                                        @:地理
                                                break;
                                            case 7:

                                        @:历史
                                                break;
                                            case 8:
                                        @:政治
                                                break;
                                            case 9:
                                        @:生物
                                                break;*@

                                        }
                            </a>

                        </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="dib pl30 F24 rel" id="choice2">
                <span class=" dib pl30 pr30 F24">@Model.DateMonth<i class="showmore ico ml30  "></i></span>
                <div class="selectdiv" style="display:none; overflow-y:auto" id="selectMonthdiv">
                    <ul id="month">
                        @for (var m = new DateTime(2015, 6, 1).Month; m <= DateTime.Now.Month - 1; m++)
                        {

                            var datevalue = DateTime.Now.Year + "/" + (m.ToString().Length == 1 ? "0" + m : m.ToString());
                            <li>
                                <a href="Progress.html?subjectID=@Model.SubjectID &dateTime=@datevalue ">
                                    @datevalue
                                </a>
                            </li>

                        }
                    </ul>
                </div>
            </div>

        </div>

    </header>
    <div class="p10">

        <div class="p30 lh40 borH bgW ">
            @if (Model.ProgressList != null && Model.ProgressList.Count > 0)
            {    <p class="F24 mb30"><span class="colskin mr5 ml5">@Model.SName</span>同学<span class="colskin mr5 ml5">数学</span>在 @Model.Month 月份 共有<span class="colskin mr5 ml5">@Model.ProgressList.Count</span>个知识点取得了进步！</p>
            <table class="F24 testplace_tb auto pct90 mb30">
                <tr><td width="50%">知识点名称</td><td>以往掌握</td><td>当前掌握</td><td>提升</td></tr>
                @foreach (var pItem in Model.ProgressList)
                    {
                    <tr>
                        <td>@pItem.KnowledgeName</td>
                        <td>@(Math.Ceiling(pItem.OldAccuracy * 100) + "%")</td>
                        <td>@(Math.Ceiling(pItem.NewAccuracy * 100) + "%")</td>
                        <td>@((Math.Ceiling(pItem.NewAccuracy * 100) - Math.Ceiling(pItem.OldAccuracy * 100)) + "%")</td>
                    </tr>
                    }
            </table>
            }
            else
            {
            <text> 您的孩子还没有测评分析</text>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#choice1").click(function () {
            $("#selectMonthdiv").hide();
            if ($("#subject").children("li").length == 0) {
                return false;
            }
            if ($("#selectdiv").css("display") == "none") {
                $("#selectdiv").show();
            } else {
                $("#selectdiv").hide();
            }
        });
        $("#choice1").mouseleave(function () { $("#selectdiv").hide(); });
        $("#choice2").mouseleave(function () { $("#selectMonthdiv").hide(); });
        $("#choice2").click(function () {
            $("#selectdiv").hide();
            if ($("#month").children("li").length == 0) {
                return false;
            }
            if ($("#selectMonthdiv").css("display") == "none") {
                $("#selectMonthdiv").show();
            } else {
                $("#selectMonthdiv").hide();
            }
        });

    });
    $("#selectdiv").click(function () {
        if ($(this).css("display") == "none") {
            $(this).show();
        } else {
            $(this).hide();
        }
        $(this).slideToggle("slow");
    });
    $("#selectMonthdiv").click(function () {
        if ($(this).css("display") == "none") {
            $(this).show();
        } else {
            $(this).hide();
        }
        $(this).slideToggle("slow");
    });
</script>